<form id="mutationForm" class="flex flex-col gap-6">
    <div class="errors bg-red-300 text-red-900 p-4">

    </div>
    <label class="flex justify-between gap-8">
        <span>
            Entry ID (leave empty for new):
        </span>
        <input class="border flex w-full border-gray-500" type="text" name="entryId" />
    </label>
    <label class="flex justify-between gap-8">
        <span>Title:</span>
        <input class="border flex w-full border-gray-500" type="text" name="title" />
    </label>
    <button type="submit" class="px-4 py-2 mx-auto border border-blue-600 bg-blue-50 text-blue-600 ">Submit {{ entry.section.name }}</button>

    <div class="border-t border-blue-600"> Fields to create </div>
    {% for field in fields %}
        <div class="border-b border-blue-200">
            {{ field.handle }}  ------ {{className(field)}}
        </div>
    {% endfor %}

</form>
<div id="queryDisplay">
</div>
<script>
    let thisForm = document.querySelector('#mutationForm')


    thisForm.addEventListener('submit', (e) => {
        e.preventDefault()
        let entryId = thisForm.querySelector('input[name="entryId"]').value
        let title = thisForm.querySelector('input[name="title"]').value
        let dateCreated = new Date().toISOString()

        if (entryId === '') {
            entryId = null
        }


        let variables = {
            entryId: entryId,
            title: title,
            dateCreated: dateCreated
        }


        let body = JSON.stringify({
            query: `
                mutation MyMutation($entryId: ID, $title: String!) {
                    save_{{ entry.section.handle}}_{{entry.type.handle}}_Entry(
                        id: $entryId, 
                        title: $title
                    ) {
                        id
                        title
                        dateCreated
                    }
                }
            `,
            variables: variables
        })

        let queryDisplay = document.querySelector('#queryDisplay')
        queryDisplay.innerHTML = body




        fetch('/api', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer 8Bf5XyxUYBJ2tXwqYjYF-XKjB7Hgs3UE'
            },
            body: body
        }).then(response => response.json()).then(data => {
            if (data.errors) {
                for(let i = 0; i < data.errors.length; i++) {
                    thisForm.querySelector('.errors').appendChild(document.createElement('pre')).innerHTML = data.errors[i].message
                }
            }
        })
    })

</script>
