{% extends 'docs/_layouts/global' %}

{% set sections = craft.app.entries.getAllSections() %}
{% set page = 'home' %}
{% set bodyClasses = 'bg-lighter-grey' %}

{% block site %}
    {# {% set fields = entry.getFieldLayout().customFields %} #}
    <div class="px-16 relative ">
        <div class="sticky top-0 w-1/6 h-0 ">
            <ul class="flex flex-col gap-4 pt-16">
                {# Loop through sections #}
                {% for section in sections %}
                    <li>
                        <a href="#{{section.handle}}" class="hover:font-bold"> {{section.name}} </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="w-5/6 ml-auto flex flex-col justify-end mb-24">
            {# <div class="w-full">
                <iframe src="{{entry.url}}" frameborder="0" class="w-full h-screen"></iframe>
            </div> #}
            <div class="w-full">
                {% for section in sections %}
                    <div id="{{section.handle}}" class="py-24 border-b border-blue-300"> <h1> {{section.name}} </h1> </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}